{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block main %}
<div class="container-fluid" style="max-width:800px">
  <form class="form-horizontal" action="/query" method="post">

    <div class="form-group row">
      <div class="col-md-12">
        <label class="control-label">TF Login</label>
      </div>
      <div class="col-sm-3">
        <input class="form-control" type="email" name="tf_user" placeholder="TF Email" value="{{tf_user}}">
      </div>
      <div class="col-sm-3">
        <input class="form-control" type="password" name="tf_pwd" placeholder="TF Password" value="{{tf_pwd}}">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label class="control-label">Org ID:</label>
      </div>
      <div class="col-sm-3">
  	    <input class="form-control" type="text" name="orgID">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        {% if memberListCheck %}
        <input type="checkbox" checked name="memberListCheck">
        {% else %}
        <input type="checkbox" name="memberListCheck">
        {% endif %}
        <label class="control-label">Member List</label>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        {% if memberGroupsCheck %}
        <input type="checkbox" checked name="memberGroupsCheck">
        {% else %}
        <input type="checkbox" name="memberGroupsCheck">
        {% endif %}
        <label class="control-label">Member Groups</label>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        {% if genreListCheck %}
        <input type="checkbox" checked name="genreListCheck">
        {% else %}
        <input type="checkbox" name="genreListCheck">
        {% endif %}
        <label class="control-label">Genre Lists</label>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        {% if sourceCheck %}
        <input type="checkbox" checked name="sourceCheck">
        {% else %}
        <input type="checkbox" name="sourceCheck">
        {% endif %}
        <label class="control-label">Org-Level Source Performance Report</label>
      </div>
      <div class="col-sm-3">
        <input class="form-control" id="datepicker1" type="text" name="sourceStart" placeholder="Start" value="{{sourceStart}}">
        <script>
          $('#datepicker1').datepicker({
              uiLibrary: 'bootstrap'
          });
        </script>
      </div>
      <div class="col-sm-3">
        <input class="form-control" id="datepicker2" type="text" name="sourceEnd" placeholder="End" value="{{sourceEnd}}">
        <script>
          $('#datepicker2').datepicker({
              uiLibrary: 'bootstrap'
          });
        </script>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        {% if promoCheck %}
        <input type="checkbox" checked name="promoCheck">
        {% else %}
        <input type="checkbox" name="promoCheck">
        {% endif %}
        <label class="control-label">Org-Level Promotion Performance Report</label>
      </div>
      <div class="col-sm-3">
        <input class="form-control" id="datepicker3" type="text" name="promoStart" placeholder="Start" value="{{promoStart}}">
        <script>
          $('#datepicker3').datepicker({
              uiLibrary: 'bootstrap'
          });
        </script>
      </div>
      <div class="col-sm-3">
        <input class="form-control" id="datepicker4" type="text" name="promoEnd" placeholder="End" value={{promoEnd}}>
        <script>
          $('#datepicker4').datepicker({
              uiLibrary: 'bootstrap'
          });
        </script>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button class="btn btn-default btn-primary" type="submit">Queue Reports</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
